# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store

# Build artifacts
build/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE / Editor settings
.vscode/
.idea/

# PyArmor obfuscation output
pyarmor_output/
pyarmor_runtime/